<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding text-center>
  <div class="container">
    <div class="signup-success" *ngIf="signUpSuccess">
        <p>Thank you for registering...please login to continue</p>
    </div>
    
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-label><ion-checkbox [(ngModel)]="isUser"></ion-checkbox>&nbsp;User</ion-label>
    <ion-label><ion-checkbox [(ngModel)]="isProvider"></ion-checkbox>&nbsp;Service Provider</ion-label><br>
    <button ion-button round large color="deon" (click)="login()">Login</button>
  </div>
</ion-content>
