page-login {

    .signup-sucess p {
        font-size: 1.7rem;
        font-weight: 200;
        color: #5ac177;
    }

    .container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 120px auto;
    }
}
