page-landing {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #b56fcc 0%, #16445f 100%);
        width: 100%;
        height: 100%; 
    }

    h3 {
        color: #8eafd4;
        font-weight: 200;
    }

    .logo {
        width: 200px;
        height: 180px;
    }

    .logo img {
        width: 100%;
        height: auto;
    }


}
