
<ion-content>
  <div class="container" text-capitalize>
    <div margin class="logo">
      <img src="../../assets/imgs/quely.png"/>
    </div><br>
    <h3>Skip the queue...
      Shop with ease</h3>
    <button color="skylar" ion-button outline round (click)="goToLogin()">
      <span>Login</span>
    </button><br>

    <button color="skylar" ion-button outline text-capitalize (click)="goToSignup()">
      Don't have an account? Sign up
    </button><br>
    <button ion-button outline color="skylar" text-capitalize (click)="goToRegister()">
      Own a store? Register
    </button>
  </div>
</ion-content>
