<ion-content padding>
  <div style="margin: 50px auto;">
      <ion-item>
        <ion-input type="text" placeholder="Shop's Name" [(ngModel)]="shop_name"></ion-input>
      </ion-item><br>
      <ion-item>
        <ion-textarea placeholder="Location" [(ngModel)]="location"></ion-textarea>
      </ion-item><br>
      <ion-item>
        <ion-textarea placeholder="Description" [(ngModel)]="description"></ion-textarea>
      </ion-item><br>
      <ion-item>
        <ion-input type="number" placeholder="Open From..." [(ngModel)]="openedFrom"></ion-input>
      </ion-item><br>
      <ion-item>
        <ion-input type="number" placeholder="Close At..." [(ngModel)]="closedAt"></ion-input>
      </ion-item><br>
  </div><br>
  <button ion-button block color="primary" (click)="registerProvider()">
      Add Service Point
  </button>
</ion-content>
