<ion-content>
  <ion-item *ngIf="isUser">
    <ion-label>Select a category</ion-label>
    <ion-select [(ngModel)]="category">
      <ion-option *ngFor="let category of categories">
        {{category}}
      </ion-option>
    </ion-select>
  </ion-item>
  <div id="map"></div>

  <ion-fab mini bottom left *ngIf="isProvider">
    <button ion-fab icon-only>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>