<ion-content padding>
    <div style="margin: 50px auto;">
        <ion-item>
            <ion-input type="text" placeholder="First Name" [(ngModel)]="first_name"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-input type="text" placeholder="Last Name" [(ngModel)]="last_name"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-input type="password" placeholder="Confirm password" [(ngModel)]="retyped_password"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-input type="number" placeholder="Phone number" [(ngModel)]="phone_number"></ion-input>
        </ion-item>
        <div padding>
            <p>Register As:</p>
            <ion-label><ion-checkbox [(ngModel)]="isUser"></ion-checkbox>&nbsp;User</ion-label>
            <ion-label><ion-checkbox [(ngModel)]="isProvider"></ion-checkbox>&nbsp;Service Provider</ion-label><br>
            <button ion-button block color="primary" (click)="signUp()">
                Sign Up
            </button>
        </div>
    </div>
</ion-content>
