<!-- <ion-header>

  <ion-navbar color="deon">
    
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <div id="person" class="btn-group" dropdown>
    <ion-icon dropdownToggle name="person" class="dropdown-toggle" ></ion-icon>
    <ion-list *dropdownMenu class="dropdown-menu" role="menu">
      <ion-item class="dropdown-item" role="menuitem" (click)="editProfile()">Edit profile</ion-item>
      <ion-item class="dropdown-item" role="menuitem" (click)="logout()">Logout</ion-item>
    </ion-list>
  </div>
  <div class="container">
    <ion-icon name="home" class="icon-home"></ion-icon>
    <p>You currently do not have any service points</p>
    <ion-fab bottom right>
      <button ion-fab icon-only color="deon">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
