page-provider-home {
    .logo {
        width: 40px;
        height: 20px;
        margin: 0;
    }

    .logo img {
        width: 100%;
        height: auto;
    }
    
    #person {
        font-size: 24px;
    }

    .icon-person {
        float: right;
        padding-right: 6px;
        font-size: 28px;
    }

    .container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 150px auto;
        text-align: center;
    }

    .icon-home {
        font-size: 36px
    }

    p {
        font-size: 20px;
        font-weight: 200;
    }
}
